﻿@model InternetAuction.BLL.Models.LotModel

@{
    ViewBag.Title = "Create";
}

<h2 class="font-weight-light">Create Lot</h2>
<hr />
@using (Html.BeginForm("Create", "Lots", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="border p-2">
            <h3 class="text-center font-weight-light">Lot Info</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.StartPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.StartPrice, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.StartPrice, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TurnkeyPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TurnkeyPrice, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.TurnkeyPrice, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SaleType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(model => model.SaleType, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.SaleType, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-check ml-3">
                    @Html.EditorFor(model => model.IsActive, null, new { htmlAttributes = new { type = "checkbox", @class = "form-check-input largeCheckbox" } })
                    @Html.ValidationMessageFor(model => model.IsActive, null, new { @class = "text-danger" })
                    @Html.LabelFor(model => model.IsActive, new { @class = "form-check-label ml-2" })
                </div>
            </div>
        </div>

        <div class="border p-2">
            <h3 class="text-center font-weight-light">Car Info</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.Brand, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Car.Brand, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.Model, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Car.Model, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.Year, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Car.Year, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.Mileage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.Mileage, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Car.Mileage, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.EngineType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.EngineType, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Car.EngineType, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ml-3">
                @Html.TextBoxFor(m => m.Car.Files, "", new { type = "file", multiple = "", @class = "", accept = "image/*" })
            </div>
        </div>

        <div class="border p-2">
            <h3 class="text-center font-weight-light">Technical Passport</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.TechnicalPassport.VIN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.TechnicalPassport.VIN, null, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Car.TechnicalPassport.VIN, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.TechnicalPassport.PrimaryDamage, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Car.TechnicalPassport.PrimaryDamage, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car.TechnicalPassport.PrimaryDamage, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.TechnicalPassport.DriveUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(model => model.Car.TechnicalPassport.DriveUnit, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car.TechnicalPassport.DriveUnit, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.TechnicalPassport.BodyType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(model => model.Car.TechnicalPassport.BodyType, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car.TechnicalPassport.BodyType, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Car.TechnicalPassport.Transmission, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EnumDropDownListFor(model => model.Car.TechnicalPassport.Transmission, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Car.TechnicalPassport.Transmission, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-check ml-3">
                    @Html.EditorFor(model => model.Car.TechnicalPassport.HasKeys, null, new { htmlAttributes = new { type = "checkbox", @class = "form-check-input largeCheckbox" } })
                    @Html.ValidationMessageFor(model => model.Car.TechnicalPassport.HasKeys, null, new { @class = "text-danger" })
                    @Html.LabelFor(model => model.Car.TechnicalPassport.HasKeys, new { @class = "form-check-label ml-2" })
                </div>
            </div>

        </div>

        <div class="form-group mt-3">
            <div class="col-md-10 col-xs-12">
                <input type="submit" value="Create lot" class="btn btn-warning col-lg-3 col-xs-12" />
            </div>
        </div>
    </div>
}
