﻿@using InternetAuction.BLL.Models;
@using InternetAuction.Web.ViewModels;
@using InternetAuction.Web.Helpers
@using System.Globalization;
@using InternetAuction.Web.Infrastructure;

@model LotViewModel

@{
    ViewBag.Title = ViewBag.Title;

    Func<int, string> func = page => Url.Action(
        Request.RequestContext.RouteData.Values["action"].ToString(),
        new
        {
            Brand = Request.QueryString["Brand"],
            CarModel = Request.QueryString["CarModel"],
            DriveUnit = Request.QueryString["DriveUnit"],
            BodyType = Request.QueryString["BodyType"],
            MinPrice = Request.QueryString["MinPrice"],
            MaxPrice = Request.QueryString["MaxPrice"],
            orderBy = Request.QueryString["orderBy"],
            userId = ViewBag.UserId,
            page = page
        });
}

@section sidebar
{
    <div class="row">
        @Html.Partial("SearchPartial", Model.SearchModel, new ViewDataDictionary { { "userId", ViewBag.UserId } })
    </div>
}

@helper SortLink(string text, string orderBy)
{
    @Html.ActionLink(text, Request.RequestContext.RouteData.Values["action"].ToString(),
        new
        {
            Brand = Request.QueryString["Brand"],
            CarModel = Request.QueryString["CarModel"],
            DriveUnit = Request.QueryString["DriveUnit"],
            BodyType = Request.QueryString["BodyType"],
            MinPrice = Request.QueryString["MinPrice"],
            MaxPrice = Request.QueryString["MaxPrice"],
            userId = ViewBag.UserId,
            orderBy = orderBy
        },
        new { @class = "btn btn-outline-dark mb-1" })
}

<h1 class="font-weight-light">@ViewBag.Title</h1>

<div>
    <span class="h5 font-weight-light mr-1">Order by:</span>
    @SortLink("Brand", "Brand")
    @SortLink("Brand Descending", "BrandDesc")
    @SortLink("Start Price", "StartPrice")
    @SortLink("Start Price Descending", "StartPriceDesc")
</div>

<hr />

<div class="row">

    @foreach (var item in Model.Lots)
    {
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100">
                <a href="@Url.Action("Details", "Lots", new { id = item.Id })">
                    @if (item.Car.CarImages is null || item.Car.CarImages.Count == 0)
                    {

                        <img class="card-img-top" src="~/Content/images/default-car.png"
                             alt="car"
                             @if (!item.IsActive) { <text> style="filter: grayscale(100%);" </text> }>

                    }
                    else
                    {
                        <img class="card-img-top" height="300"
                             src="@item.Car.CarImages.First().Url"
                             alt="@item.Car.CarImages.First().Title"
                             @if (!item.IsActive) { <text> style="filter: grayscale(100%);" </text> }>
                    }
                </a>
                <div class="card-body">
                    @if (!item.IsActive)
                    {
                        <h3 class="text-warning">Inactive lot</h3>
                    }
                    <h4 class="card-title">
                        <a href="@Url.Action("Details", "Lots", new { id = item.Id })" class="text-dark">@item.Car.Brand @item.Car.Model</a>
                    </h4>
                    <p class="card-text text-muted">
                        @item.Car.Year |
                        @item.Car.Mileage Km |
                        @item.Car.EngineType |
                        @item.Car.TechnicalPassport.Transmission.GetDisplayName() |
                        @item.Car.TechnicalPassport.BodyType.GetDisplayName() |
                        @item.Car.TechnicalPassport.DriveUnit.GetDisplayName()
                    </p>
                </div>
                <div class="card-footer">
                    <span class="font-weight-bold">
                        @if (item.Bets.Count == 0)
                        {
                            <text>Current bet - @string.Format(new CultureInfo("en-US", false), "{0:c0}", item.StartPrice)</text>
                        }
                        else
                        {
                            <text>Current bet - @string.Format(new CultureInfo("en-US", false), "{0:c0}", item.Bets.Max(b => b.Sum))</text>
                        }
                    </span>
                    <a href="@Url.Action("Details", "Lots", new { id = item.Id })" class="btn btn-dark float-right">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, func)
</div>

@section scripts
{
    @Scripts.Render("~/bundles/customScripts/searchBlockToggle")
    @Scripts.Render("~/bundles/customScripts/handleSearch")
}