﻿@model InternetAuction.BLL.Models.SearchModel

<div class="col-12 mb-2">
    <input type="button" id="showFiltersButton" name="Filters" value="Filters" class="btn btn-warning col-12 font-weight-bold" />
</div>

<div id="filtersBlock" class="col-lg-12 p-lg-0">
    @using (Html.BeginForm(
        Request.RequestContext.RouteData.Values["action"].ToString(),
        Request.RequestContext.RouteData.Values["controller"].ToString(),
        FormMethod.Get,
        new { @class = "col-12 p-lg-0", role = "form", id = "searchForm" }))
    {
        @Html.Hidden("userId", ViewData["userId"]?.ToString())

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-lg-5" })
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label col-lg-12" })
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DriveUnit, htmlAttributes: new { @class = "control-label col-lg-12" })
                <div class="col-lg-12">
                    @Html.EnumDropDownListFor(model => model.DriveUnit, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DriveUnit, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BodyType, htmlAttributes: new { @class = "control-label col-lg-12" })
                <div class="col-lg-12">
                    @Html.EnumDropDownListFor(model => model.BodyType, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BodyType, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinPrice, htmlAttributes: new { @class = "control-label col-lg-12" })
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.MinPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MinPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaxPrice, htmlAttributes: new { @class = "control-label col-lg-12" })
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.MaxPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaxPrice, "", new { @class = "text-danger" })
                </div>
            </div>   

            <div class="form-group">
                <div class="col-md-offset-2 col-12">
                    <input type="submit" value="Search" class="btn btn-dark col-12" />
                </div>
            </div>
        </div>
    }
</div>