﻿::-moz-selection {
    background-color: #636161;
    color: #fff;
}

::selection {
    background-color: #636161;
    color: #fff;
}

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    padding-top: 100px;
    overflow-x: hidden;
    height: 100%;
}

body > div.container {
    position: relative;
    height: auto !important;
    height: 100%; 
    min-height: calc(100% - 150px);
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.carouselImage
{
    height: 550px;
}

#showUserSearchButton,
#showInfoButton,
#showFiltersButton {
    display: none;
}

#userSearchBlock,
#InfoBlock,
#filtersBlock {
    display: block;
}

input.largeCheckbox {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 991px) {
    body {
        padding-top: 70px;
    }

    .carouselImage {
        height: 400px;
    }

    #showUserSearchButton,
    #showInfoButton,
    #showFiltersButton {
        display: inline-block;
    }

    #userSearchBlock,
    #InfoBlock,
    #filtersBlock {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .carouselImage {
        height: 280px;
    }
}